
# Logs e arquivos temporários
*.log
logs/
dags/logs/
tmp/
*.tmp
*.swp
*.bak

# Python
__pycache__/
*.pyc

# Dados e arquivos CSV
*.csv
csv/

# Configuração de IDEs e editores de texto
.vscode/
.idea/
.DS_Store

# Arquivos sensíveis
.env
*.key
*.pem

dags/__pycache__/
dags/dbt/logs/
# Ignorar arquivo csv do desafio
csv/*.csv